<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @request.client.first_name %> <%= @request.client.last_name %></h1>
    <p>Your request to <%= @request.user.first_name %> <%= @request.user.last_name %> on <%= @request.start_time %> to <%= @request.end_time %> at <%= @request.location %> was successfully sent! </p>
  </body>
</html>
