<h3>Select the date</h3>
<hr>
<div class="card">
  <%= simple_form_for @request, url: user_requests_path, class: "row" do |f| %>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <div class='input-group date' id='datetimepicker1'>
            <%= f.input :start_time, as: :string, label: false, input_html: {class: 'form-control'} %>
            <span class="input-group-addon">
              <span class="fa fa-calendar"></span>
            </span>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <div class='input-group date' id='datetimepicker2'>
            <%= f.input :end_time, as: :string, label: false, input_html: {class: 'form-control'} %>
            <span class="input-group-addon">
              <span class="fa fa-calendar"></span>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <div class='input-group date'>
            <%= f.input :location, as: :select, label: false, input_html: {class: 'form-control'}, collection: @cities %>
            <span class="input-group-addon">
              <span class="fa fa-map-marker"></span>
            </span>
          </div>
        </div>
      </div>
      <%= f.input :user_id, as: :hidden, label: false, input_html: {class: 'form-control', value: params[:user_id]}  %>
      <%= f.input :client_id, as: :hidden, label: false, input_html: {class: 'form-control', value: current_user.id} %>
    </div>
    <br>
    <div class="text-center">
        <%= f.button :submit, value: 'Request a booking', class: "btn btn-primary" %>
        <%= link_to "Message", user_conversations_url, method: :post, class: "btn btn-default" %>
    </div>
  <% end %>
</div>
  <h3 id="<%= @current_profile.first_name %>-reviews">Reviews</h3>
  <hr>
  <div id="reviews">
    <% @bookings_to_others.each do |booking| %>
      <% if booking.request.client == @current_user && !booking.review %>
        <div class="add-review">
          <%= render 'reviews/new', user: current_user, booking: booking, review: @review %>
        </div>
      <% end %>
      <% @requests.each do |request| %>
        <% if request.get_review %>
          <%= render 'reviews/show', request: request, booking: booking %>
        <% end %>
      <% end %>
    <% end %>
  </div>

<% content_for(:after_js) do %>
  <script type="text/javascript">
    $(function () {
        $('#datetimepicker1').datetimepicker({
          format: 'DD-MM-YYYY hh:mm A',
        });
        $('#datetimepicker2').datetimepicker({
          format: 'DD-MM-YYYY hh:mm A',
          useCurrent: false
        });
        $("#datetimepicker1").on("dp.change", function (e) {
            $('#datetimepicker2').data("DateTimePicker").minDate(e.date);
        });
        $("#datetimepicker2").on("dp.change", function (e) {
            $('#datetimepicker1').data("DateTimePicker").maxDate(e.date);
        });
    });
  </script>
<% end %>
