<h3><%= t('users.my_profile') %></h3>
<hr>
<div class="card">
  <div class="row">
    <div class="col-sm-6">
      <b><%= t('users.full_name') %></b>
      <p><%= @current_user.first_name %> <%= @current_user.last_name %></p>
      <b><%= t('users.email') %></b>
      <p><%= @current_user.email %></p>
      <b><%= t('users.address') %></b>
      <p><%= @current_user.address %></p>
    </div>
    <div class="col-sm-6">
      <b><%= t('users.description') %></b>
      <p><%= @current_user.description %></p>
    </div>
  </div>
  <br>
  <div class="text-center"><%= link_to t('users.edit_profile'), edit_user_registration_path, class: "btn btn-primary" %></div>
</div>
