<div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
  <div class="padded-card">
    <div class="card">
      <h2><%= t('users.edit_profile') %></h2>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.error_notification %>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>
          <div class="form-inputs">
            <div class="row">
              <div class="col-md-12">
                <p class="title-edit-page"><%= t('users.current_informations') %></p>
              </div>
              <div class="col-md-6">
                <%= f.input :email, required: true, autofocus: true, label: t('users.email') %>
              </div>
              <div class="col-md-6">
                <%= f.input :current_password, required: true %>
              </div>
              <div class="col-md-12">
                <p class="title-edit-page"><%= t('users.change_password') %></p>
              </div>
              <div class="col-md-6">
                <%= f.input :password, autocomplete: "off", required: false %>
              </div>
              <div class="col-md-6">
                <%= f.input :password_confirmation, required: false %>
              </div>
              <div class="col-md-12">
                <p class="title-edit-page"><%= t('users.update_information') %></p>
              </div>
              <div class="col-md-6">
                <%= f.input :first_name, required: true, label: t('users.first_name') %>
              </div>
              <div class="col-md-6">
                <%= f.input :last_name, required: true, label: t('users.last_name') %>
              </div>
              <div class="col-md-6 user_address">
                <%= f.input :address, required: true, label: t('users.address') %>
              </div>
              <div class="col-md-6 user_postal_code">
                <%= f.input :postal_code, required: false, label: t('users.zip_code') %>
              </div>
              <div class="col-md-6 user_city">
                <%= f.input :city, required: false, label: t('users.city') %>
              </div>

              <div class="col-md-12">
                <p class="title-edit-page"><%= t('users.upload_avatar') %></p>
              </div>
              <!-- Upload avatar -->
              <div class="col-md-12"><%= f.input :avatar, as: :attachinary, label: false, class: "attachinary-input" %></div>

              <!-- Pro users section -->

              <div class="col-md-12">
                <div class="checkbox_pro title-edit-page">
                  <%= f.input :pro, as: :boolean, label: t('users.are_you_professional') %>
                </div>
              </div>
              <div class="hidden_pro">
                <div class="col-md-12">
                  <%= f.input :role, as: :check_boxes, label: t('users.select_role'), collection: @roles, label_method: lambda { |role| t("simple_form.labels.user.role.#{role.first}") } %>

                </div>
                <div class="col-md-6">
                  <%= f.input :fee_cents, required: true, label: "#{t('users.fee')} (€/hr)", input_html: { value: number_with_precision(@fee, precision: 2), step: 0.01 } %>
                </div>
                <div class="col-md-12">
                  <%= f.input :description, required: true, as: :text %>
                </div>

                <!-- Album upload -->
                <div class="col-md-12">
                  <h3><%= t('users.upload') %></h3>
                </div>
                <%= f.fields_for @album do |f_album|%>
                  <div class="col-md-12">
                    <%= f_album.input :name, label: t('users.album_name'), required: true %>
                  </div>
                  <div class="col-md-12">
                    <p class="title-edit-page"><%= t('users.upload_album') %></p>
                  </div>
                  <div class="col-md-12">
                    <div class="col-md-12"><%= f_album.input :photos, as: :attachinary, input_html: { multiple: true }, label: false, class: "attachinary-input" %></div>
                  </div>
                <% end %>

                <!-- Payment Information -->
                <% unless current_user.stripe_id %> <!-- check if current user has a credit card in database -->
                  <div class="col-md-12">
                    <fieldset class="row">
                      <div class="col-md-9">
                        <div class="form-inputs">
                          <label class="control-label string required" for="card-number">
                            <abbr title="required">*</abbr> Card Number
                          </label>
                          <div id="card-number"></div>
                          <div id="card-errors" role="alert"></div>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="form-inputs text-center">
                          <label class="control-label string"></label>
                          <div class="stripe-powered"><%= image_tag "powered_by_stripe@2x.png" %></div>
                        </div>
                      </div>
                    </fieldset>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
          <br>
          <div class="form-actions text-center col-md-12">
            <%= f.button :submit, t('update'), class: "btn btn-primary" %>
            <br>
            <%= link_to t('back'), :back %>
          </div>
      <% end %>

      <h3><%= t('users.cancel_account') %></h3>

      <p><%= t('users.unhappy') %> <%= link_to t('users.cancel_account'), registration_path(resource_name), data: { confirm: t('users.are_you_sure') }, method: :delete %></p>

    </div>
  </div>
</div>

<% content_for(:after_js) do %>

  <!-- TOGGLE PRO SECTION -->
  <script type="text/javascript">
    var checkbox_pro = $('.checkbox_pro');
    var hidden_pro = $('.hidden_pro');
    //when the page is loaded
    $(document).ready(function () {
      <% if current_user.pro == true %>
        hidden_pro.show();
      <% else %>
        hidden_pro.hide();
      <% end %>
    });
    //upon check

    // check for default status (when checked, show the hidden_pro)
    if (checkbox_pro.attr('checked') !== undefined){
      hidden_pro.show();
    } else {
      hidden_pro.hide();
    }
    // then simply toggle the hidden_pro on every change
    checkbox_pro.change(function(){
      hidden_pro.toggle();
    });
  </script>

  <!-- STRIPE -->
  <script src="https://js.stripe.com/v3/"></script>
  <script>
    // Create a Stripe client
    var stripe = Stripe("<%= Rails.configuration.stripe[:publishable_key] %>");

    // Create an instance of Elements
    var elements = stripe.elements();

    // Custom styling can be passed to options when creating an Element.
    // (Note that this demo uses a wider set of styles than the guide below.)
    var style = {
      base: {
        color: '#32325d',
        lineHeight: '20px',
        fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
        fontSmoothing: 'antialiased',
        fontSize: '16px',
        '::placeholder': {
          color: '#aab7c4'
        }
      },
      invalid: {
        color: '#fa755a',
        iconColor: '#fa755a'
      }
    };

    // Create an instance of the card Element
    var card = elements.create('card', {hidePostalCode: true, style: style});

    // Add an instance of the card Element into the `card-element` <div>
    card.mount('#card-number');

    // Display errors
    card.addEventListener('change', function(event) {
      var displayError = document.getElementById('card-errors');
      if (event.error) {
        displayError.textContent = event.error.message;
      } else {
        displayError.textContent = '';
      }
    });

    // Create a token or display an error when the form is submitted.
    var form = document.getElementById('edit_user');
    form.addEventListener('submit', function(event) {
      event.preventDefault();

      stripe.createToken(card).then(function(result) {
        if (result.error) {
          // Inform the user if there was an error
          var errorElement = document.getElementById('card-errors');
          errorElement.textContent = result.error.message;
        } else {
          // Send the token to your server
          stripeTokenHandler(result.token);
        }
      });
    });

    function stripeTokenHandler(token) {
      // Insert the token ID into the form so it gets submitted to the server
      var form = document.getElementById('edit_user');
      var hiddenInput = document.createElement('input');
      hiddenInput.setAttribute('type', 'hidden');
      hiddenInput.setAttribute('name', 'stripeToken');
      hiddenInput.setAttribute('value', token.id);
      form.appendChild(hiddenInput);

      // Submit the form
      form.submit();
    }
  </script>
<% end %>

