<div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
  <div class="padded-card">
    <div class="card">
      <h2>Edit profile</h2>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.error_notification %>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>
          <div class="form-inputs">
            <div class="row">
              <div class="col-md-12">
                <p class="title-edit-page">Enter your current informartion:</p>
              </div>
              <div class="col-md-6">
                <%= f.input :email, required: true, autofocus: true %>
              </div>
              <div class="col-md-6">
                <%= f.input :current_password, required: true %>
              </div>
              <div class="col-md-12">
                <p class="title-edit-page">Change your password:</p>
              </div>
              <div class="col-md-6">
                <%= f.input :password, autocomplete: "off", required: false %>
              </div>
              <div class="col-md-6">
                <%= f.input :password_confirmation, required: false %>
              </div>
              <div class="col-md-12">
                <p class="title-edit-page">Update your informartion:</p>
              </div>
              <div class="col-md-6">
                <%= f.input :first_name, required: true %>
              </div>
              <div class="col-md-6">
                <%= f.input :last_name, required: true %>
              </div>
              <div class="col-md-6 user_address">
                <%= f.input :address, required: true %>
              </div>
              <div class="col-md-6 user_postal_code">
                <%= f.input :postal_code, required: false %>
              </div>
              <div class="col-md-6 user_city">
                <%= f.input :city, required: false %>
              </div>

              <div class="col-md-12">
                <p class="title-edit-page">Upload avatar:</p>
              </div>
              <div class="col-md-12"><%= f.input :avatar, as: :attachinary, label: false, class: "attachinary-input" %></div>
              <div class="col-md-12">
                <div class="checkbox_pro title-edit-page">
                  <%= f.input :pro, as: :boolean, label: "Are you a professional?" %>
                </div>
              </div>
              <div class="hidden_pro">
                <div class="col-md-12">
                  <%= f.input :role, label: 'Select your role:', collection: ["Photographer", "Videographer", "Drone Pilot"] %>
                </div>
                <div class="col-md-6">
                  <%= f.input :fee_cents, required: true, label: 'Fee' %>
                </div>
                <div class="col-md-12">
                  <%= f.input :photo, required: false, as: :file %>
                </div>
                <div class="col-md-12">
                  <%= f.input :description, required: true, as: :text %>
                </div>
              </div>
            </div>
          </div>
          <div class="form-actions text-center">
            <%= f.button :submit, "Update", class: "btn btn-primary" %>
            <br>
            <%= link_to "Back", :back %>
          </div>
      <% end %>

      <h3>Cancel my account</h3>

      <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <script type="text/javascript">
    var checkbox_pro = $('.checkbox_pro');
    var hidden_pro = $('.hidden_pro');
    //when the page is loaded
    $(document).ready(function () {
      <% if current_user.pro == true %>
        hidden_pro.show();
      <% else %>
        hidden_pro.hide();
      <% end %>
    });
    //upon check

    // check for default status (when checked, show the hidden_pro)
    if (checkbox_pro.attr('checked') !== undefined){
      hidden_pro.show();
    } else {
      hidden_pro.hide();
    }
    // then simply toggle the hidden_pro on every change
    checkbox_pro.change(function(){
      hidden_pro.toggle();
    });

    // //checkboxes
    // var roleArray = <%= escape_javascript @role %>;
    // $("input:checkbox[name=type]:checked").each(function(){
    //   roleArray.push($(this).val());
    // });
  </script>
<% end %>
