<div class="container date-selection">
  <div class="row">
    <div class="col-md-3 col-md-offset-1">
      <div class="card clearfix">
        <%= image_tag "quan_avatar.jpg", class: "user-picture" %>
        <div class="text-center user-fullname"><b><%= User.find(params[:user_id]).first_name %> <%= User.find(params[:user_id]).last_name %></b></div>
        <ul class="text-center">
          <li class="block user-address"><i class="fa fa-map-marker" aria-hidden="true"></i><%= User.find(params[:user_id]).address %></li>
          <li class="block ratings">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-o"></i>
          </li>
          <li class="block review-link"><%= link_to "24 Reviews", "#" %></li>
        </ul>
      </div>
    </div>
    <div class="col-md-7">
      <h3>Select the date</h3>
      <hr>
      <div class="card">
        <%= simple_form_for @request, url: user_requests_path, class: "row" do |f| %>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <div class='input-group date' id='datetimepicker1'>
                  <%= f.input :start_time, as: :string, label: false, input_html: {class: 'form-control', placeholder: "Start time"} %>
                  <span class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                  </span>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <div class='input-group date' id='datetimepicker2'>
                  <%= f.input :end_time, as: :string, label: false, input_html: {class: 'form-control', placeholder: "End time"} %>
                  <span class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <div class='input-group'>
                  <%= f.input :location, as: :select, label: false, input_html: {class: 'form-control'}, collection: @cities %>
                  <span class="input-group-addon">
                    <i class="fa fa-location-arrow"></i>
                  </span>
                </div>
              </div>
            </div>
            <%= f.input :user_id, as: :hidden, label: false, input_html: {class: 'form-control', value: params[:user_id]}  %>
            <%= f.input :client_id, as: :hidden, label: false, input_html: {class: 'form-control', value: current_user.id} %>
          </div>
            <%= f.button :submit, value: 'Request a booking', class: "btn btn-primary" %>
            <%= link_to "Message", user_conversation_messages_path(params[:user_id], conversation_id: @conversation.id), class: "btn btn-default" %>
        <% end %>

          <% content_for(:after_js) do %>
            <script type="text/javascript">
              $(function () {
                  $('#datetimepicker1').datetimepicker({
                    format: 'YYYY-MM-DD hh:mm A',
                    debug: true
                  });
                  $('#datetimepicker2').datetimepicker({
                    format: 'YYYY-MM-DD hh:mm A',
                    useCurrent: false
                  });
                  $("#datetimepicker1").on("dp.change", function (e) {
                      $('#datetimepicker2').data("DateTimePicker").minDate(e.date);
                  });
                  $("#datetimepicker2").on("dp.change", function (e) {
                      $('#datetimepicker1').data("DateTimePicker").maxDate(e.date);
                  });
              });
            </script>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

