<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-1">
      <%= image_tag "quan_avatar.jpg", class: "user_picture" %>
      <div class="h4"><%= current_user.first_name %> <%= current_user.last_name%></div>
      <ul class="list-inline">
        <li><i class="fa fa-map-marker" aria-hidden="true"></i></li>
        <li><div class="h5"><%= current_user.address %></div></li>
      </ul>
    </div>
    <div class="col-md-6">
      <div class="card">
        <h3>Select the date</h3>
        <hr>
        <div>
          <%= simple_form_for @request, url: user_requests_path, class: "row" do |f| %>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <div class='input-group date' id='datetimepicker1'>
                    <%= f.input :start_time, as: :string, label: false, input_html: {class: 'form-control'} %>
                    <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <div class='input-group date' id='datetimepicker2'>
                    <%= f.input :end_time, as: :string, label: false, input_html: {class: 'form-control'} %>
                    <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <div class='input-group date'>
                    <%= f.input :location, as: :select, label: false, input_html: {class: 'form-control'}, collection: @cities %>
                    <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                  </div>
                </div>
              </div>
              <%= f.input :user_id, as: :hidden, label: false, input_html: {class: 'form-control', value: params[:user_id]}  %>
              <%= f.input :client_id, as: :hidden, label: false, input_html: {class: 'form-control', value: current_user.id} %>
            </div>
              <%= f.button :submit, value: 'Request a booking', class: "btn btn-primary" %>
              <%= link_to 'Message', user_conversations_path, class: "btn btn-default" %>
          <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<% content_for(:after_js) do %>
  <script type="text/javascript">
    $(function () {
        $('#datetimepicker1').datetimepicker();
        $('#datetimepicker2').datetimepicker({
            useCurrent: false //Important! See issue #1075
        });
        $("#datetimepicker1").on("dp.change", function (e) {
            $('#datetimepicker2').data("DateTimePicker").minDate(e.date);
        });
        $("#datetimepicker2").on("dp.change", function (e) {
            $('#datetimepicker1').data("DateTimePicker").maxDate(e.date);
        });
    });
  </script>
<% end %>
