<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-1">
      <%= image_tag "quan_avatar.jpg", class: "user_picture" %>
      <div class="h4"><%= current_user.first_name %> <%= current_user.last_name%></div>
      <ul class="list-inline">
        <li><i class="fa fa-map-marker" aria-hidden="true"></i></li>
        <li><div class="h5"><%= current_user.address %></div></li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3>Select the date</h3>
      <hr>
      <div>
        <%= simple_form_for @request, url: user_requests_path, class: "row" do |f| %>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <div class='input-group date' id='datetimepicker1'>
                  <%= f.input :start_time, as: :string, label: false, input_html: {class: 'form-control'} %>
                  <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                  </span>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <div class='input-group date' id='datetimepicker2'>
                  <%= f.input :end_time, as: :string, label: false, input_html: {class: 'form-control'} %>
                  <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                  </span>
                </div>
              </div>
            </div>
            <div class="row">
              <%= f.input :location, as: :select, label: false, input_html: {class: 'form-control'}, collection: @cities %>
              <%= f.input :user_id, as: :hidden, label: false, input_html: {class: 'form-control', value: params[:user_id]}  %>
              <%= f.input :client_id, as: :hidden, label: false, input_html: {class: 'form-control', value: current_user.id} %>
            </div>
          </div>
            <%= f.button :submit, value: 'Request a booking', class: "btn btn-primary" %>
        <% end %>

          <script type="text/javascript">
              $(function () {
                  $('#datetimepicker1').datetimepicker(
                    {
                      format: 'DD/MM/YYYY LT',
                      stepping: 15
                  });
              });
              $(function () {
                  $('#datetimepicker2').datetimepicker(
                    {
                      format: 'DD/MM/YYYY LT',
                      stepping: 15
                  });
              });
          </script>
        </div>
      </div>
    </div>
  </div>
</div>






