<div class="container date-selection">
  <div class="row">
    <% if flash.present? %>
      <% flash.each do |key, value| %>
        <%= content_tag :div, value, class: "text-center alert alert-#{key}" %>
      <% end %>
    <% end %>
    <div class="col-md-3 col-md-offset-1">
      <div class="card clearfix">
        <% if @current_profile.avatar? %>
          <%= cl_image_tag @current_profile.avatar.path, width: 500, height: 500, class: "user-picture", crop: :fill, gravity: :face %>
        <% else %>
          <%= image_tag "avatar_image.jpg", class: "user-picture" %>
        <% end %>
        <div class="text-center user-fullname"><b><%= @current_profile.first_name %> <%= @current_profile.last_name %></b></div>
        <div class="role-profile text-center">
        <% unless @roles == nil %>
          <% @roles.each do |role| %>
            <% if role == :photographer %>
              <span class=" label label-primary"><%= t('photographer') %></span>
            <% elsif role == :videographer %>
              <span class="label label-success"><%= t('videographer') %></span>
            <% else %>
              <span class="label label-info"><%= t('drone_pilot') %></span>
            <% end %>
          <% end %>
        <% end %>
        </div>
        <br>
        <ul class="text-center">
          <li class="block user-address"><i class="fa fa-map-marker" aria-hidden="true"></i><%= @current_profile.address %></li>
          <% if @current_profile.count_reviews == 0 %>
          <% else %>
            <%= render "reviews/stars", user: @current_profile %>
            <li class="block review-link"><%= pluralize(@current_profile.count_reviews, 'review') %></li>
          <% end %>
        </ul>
      </div>
      <%# if @current_profile != current_user %>
        <ul class="card nav nav-pills nav-stacked">
          <li role="presentation"><%= link_to t("profile"), user_path(@current_profile) %></li>
          <li role="presentation"><%= link_to t("gallery.view"), user_gallery_index_path(@current_profile) %></li>
          <li role="presentation"><%= link_to t("gallery.reviews"), "##{@current_profile.first_name}-reviews" %></li>
        </ul>
      <%# end %>
    </div>
    <div class="col-md-7">
      <% if @current_profile != @current_user %>
        <%= render "devise/registrations/booking_calendar", bookings_to_others: @bookings_to_others, requests: @requests %>
      <% else %>
        <%= render "devise/registrations/self_profile" %>
      <% end %>
    </div>
  </div>
</div>
