<div class="container date-selection">
  <div class="row">
    <div class="col-md-3 col-md-offset-1">
      <div class="card clearfix">
        <% if @current_profile.avatar? %>
          <%= cl_image_tag @current_profile.avatar.path, width: 500, height: 500, class: "user-picture", crop: :fill, gravity: :face %>
        <% else %>
          <%= image_tag "avatar_image.jpg", class: "user-picture" %>
        <% end %>
        <div class="text-center user-fullname"><b><%= @current_profile.first_name %> <%= @current_profile.last_name %></b></div>
        <div class="role-profile text-center">
          <% if @current_profile.role == "Photographer" %>
            <span class=" label label-primary"><%= @current_profile.role %></span>
          <% elsif @current_profile.role == "Videographer" %>
            <span class="label label-success"><%= @current_profile.role %></span>
          <% else %>
            <span class="label label-info"><%= @current_profile.role %></span>
          <% end %>
        </div>
        <ul class="text-center">
          <li class="block user-address"><i class="fa fa-map-marker" aria-hidden="true"></i><%= @current_profile.address %></li>
          <li class="block ratings">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-o"></i>
          </li>
          <li class="block review-link"><%= link_to "24 Reviews", "#" %></li>
        </ul>
      </div>
      <% if @current_profile != current_user %>
        <ul class="card nav nav-pills nav-stacked">
          <li role="presentation"><%= link_to "Profile", user_path(@current_profile) %></li>
          <li role="presentation"><%= link_to "View gallery", user_gallery_index_path(@current_profile) %></li>
          <li role="presentation"><%= link_to "Reviews", "##{@current_profile.first_name}-reviews" %></li>
        </ul>
      <% end %>
    </div>
    <div class="col-md-7">
      <% if @current_profile != @current_user %>
        <%= render "booking_calendar" %>
      <% else %>
        <%= render "self_profile" %>
      <% end %>
    </div>
  </div>
</div>
