<% if @users.empty? == false %>
  <% @users.each do |user| %>
    <% @roles = user.role.split(" - ").sort if user.role? %>
    <%= link_to user_path(user.id), class: "card card-popup block" do %>
      <div class="row list-row">
        <div class="col-md-3 list-profile-container">
          <div class="avatar-round">
            <% if user.avatar? %>
              <%= cl_image_tag user.avatar.path, width: 100, height: 100, crop: :fill, gravity: :face %>
            <% else %>
              <%= image_tag "avatar_image.jpg" %>
            <% end %>
          </div>
        </div>
        <div class="col-md-6 list-info">
          <h4 class="list-name block"><%= user.first_name %> <%= user.last_name %></h4>
          <% if user.role? %>
            <div class="role-div">
              <% @roles.each do |role| %>
                <% if role == "Photographer" %>
                  <span class=" label label-primary"><%= t('photographer') %></span>
                <% elsif role == "Videographer" %>
                  <span class="label label-success"><%= t('videographer') %></span>
                <% else %>
                  <span class="label label-info"><%= t('drone_pilot') %></span>
                <% end %>
              <% end %>
            </div>
          <% end %>
          <br>
          <p class="list-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur doloribus ut ipsum quo molestias! Nihil odio, modi nostrum qui eveniet sunt aliquid error consequuntur, veritatis accusantium numquam rerum rem est.</p>
        </div>
        <div class="col-md-3 list-ratings text-center">
          <% if user.count_reviews == 0 %>
          <% else %>
            <%= render "reviews/stars", user: user %>
            <span class="block"><i href="#"><%= pluralize(user.count_reviews, t('search.review')) %></i></span>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
<% else %>
  <div class="card block">
    <h4 class="text-center"><%= t('no_result') %></h4>
  </div>
  <%# flash[:notice] = "No results found." %>
  <%#= params.inspect %>
<% end %>
