<% if @requests_to_others.first == nil %>
  <div class="card">
    <p><%= t('users.no_sent_request') %></p>
  </div>
<% end %>
<% @requests_to_others.each do |request| %>
  <div class="card card-inbox">
    <div class="row">
      <div class="col-md-2 text-center">
        <% if request.user.avatar != nil %>
          <%= cl_image_tag request.user.avatar.path, width: 500, height: 500, class: "user-picture", crop: :fill, gravity: :face %>
        <% else %>
          <%= image_tag "avatar_image.jpg", width: 85, height: 85, radius: 85, width: 500, height: 500, class: "user-picture", crop: :fill, gravity: :face %>
        <% end %>
        <b><%= request.user.first_name %> <%= request.user.last_name %></b>
      </div>
      <div class="col-md-10">
        <p><b><%= t('from') %></b> <%= request.start_time.to_formatted_s(:long) %></p>
        <p><b><%= t('to') %></b> <%= request.end_time.to_formatted_s(:long) %></p>
        <p><b><%= t('in') %></b> <%= request.location %></p>
        <% if request.confirmed == true %>
          <span class="label label-success"><%= t('users.accepted') %></span>
        <% end %>
        <% if request.confirmed == false %>
          <span class="label label-primary"><%= t('users.rejected') %></span>
        <% end %>
        <% if request.confirmed == nil %>
          <span class="label label-info"><%= t('users.pending') %></span>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
