<div class="inbox-wrapper">
  <div class="col-md-11 col-md-offset-1">
    <div class="col-md-3">
      <ul class="card nav nav-pills nav-stacked">
        <li role="presentation" class="active"><a data-toggle="pill" href="#messages"><%= t('users.messages') %></a></li>
        <li role="presentation"><a data-toggle="pill" href="#requests"><%= t('users.requests') %></a></li>
        <li role="presentation"><a data-toggle="pill" href="#bookings"><%= t('users.bookings') %></a></li>
      </ul>
    </div>

    <div class="col-md-8">
      <div class="tab-content">
        <div id="messages" class="tab-pane fade in active">
          <h3><%= t('users.inbox') %></h3>
          <% if @conversations %>
            <div class="ui segment">
              <div class="ui list">
                <div class="item">
                  <% @conversations.each do |conversation| %>
                    <% if conversation.client_id == current_user.id || conversation.user_id == current_user.id %>
                      <% if conversation.client_id == current_user.id %>
                        <% user = User.find(conversation.user_id) %>
                      <% else %>
                        <% user = User.find(conversation.client_id) %>
                      <% end %>
                      <%= link_to user_conversation_messages_path(conversation, conversation_id:conversation.id) do %>
                        <div class="card margin-bottom">
                          <div class="row">
                            <div class="col-md-2">
                              <% if user.avatar != nil %>
                                <%= cl_image_tag user.avatar.path, width: 75, height: 75, crop: :fill, gravity: :face %>
                              <% else %>
                                <%= image_tag "avatar_image.jpg", width: 75, height: 75 %>
                              <% end %>
                            </div>
                            <div class="col-md-10">
                              <h4><%= user.first_name %></h4>
                              <% if conversation.messages.last != nil %>
                                <p><%= conversation.messages.last.body %></p>
                              <% end %>
                            </div>
                          </div>
                        </div>
                      <% end %>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          <% else %>
            <h4><%= t('users.no_conversations') %></h4>
          <% end %>
        </div>

        <div id="requests" class="tab-pane fade">
          <h3><%= t('users.requests') %></h3>
          <ul class="nav nav-tabs margin-bottom">
            <% if current_user.pro == true %>
              <li class="active"><a data-toggle="tab" href="#received_request"><%= t('users.received') %></a></li>
              <li><a data-toggle="tab" href="#sent_request"><%= t('sent') %></a></li>
            <% else %>
              <li class="active"><a data-toggle="tab" href="#sent_request"><%= t('sent') %></a></li>
            <% end %>
          </ul>
          <div class="tab-content">
            <% if current_user.pro == true %>
              <div id="received_request" class="tab-pane fade in active">
                <%= render 'inbox_requests_self' %>
              </div>
              <div id="sent_request" class="tab-pane fade">
                <%= render 'inbox_requests_others' %>
              </div>
            <% else %>
              <div id="sent_request" class="tab-pane fade in active">
                <%= render 'inbox_requests_others' %>
              </div>
            <% end %>
          </div>
        </div>
        <div id="bookings" class="tab-pane fade">
          <h3><%= t('users.bookings') %></h3>
            <ul class="nav nav-tabs margin-bottom">
              <% if current_user.pro == true %>
                <li class="active"><a data-toggle="tab" href="#received_booking"><%= t('users.received') %></a></li>
                <li><a data-toggle="tab" href="#sent_booking"><%= t('sent') %></a></li>
              <% else %>
                <li class="active"><a data-toggle="tab" href="#sent_booking"><%= t('sent') %></a></li>
              <% end %>
            </ul>
            <div class="tab-content">
              <% if current_user.pro == true %>
                <div id="received_booking" class="tab-pane fade in active">
                  <%= render 'inbox_bookings_self' %>
                </div>
                <div id="sent_booking" class="tab-pane fade">
                <%= render 'inbox_bookings_others' %>
              </div>
              <% else %>
                <div id="sent_booking" class="tab-pane fade in active">
                  <%= render 'inbox_bookings_others' %>
                </div>
              <% end %>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
