<main class="home-page-wrapper">
  <!-- Search and results -->
  <div class="fullscreen-wrapper">
    <div class="fullscreen-scroll container-fluid">
      <div class="card clearfix">
        <%= simple_form_for :user, url: search_path, method: :get, remote: true do |f| %>
          <div class="row">
            <%= f.input :q, wrapper_html: { class: 'col-sm-4' }, label: 'Search term' %>
            <%= f.input :location, wrapper_html: { class: 'col-sm-4' }, as: :select, collection: @cities, label: 'Location' %>
            <%= f.input :profession, wrapper_html: { class: 'col-sm-4' }, as: :check_boxes, collection: ["Photographer", "Drone Pilot", "Videographer"], label: 'Professions' %>
          </div>
          <div class="row">
            <%= f.input :distance, as: :range, wrapper_html: { class: 'col-sm-4' }, input_html: { value: '0', max: '20', min: '0', id: 'range-slider' }, label: 'Range (km)' %>
            <span id="range-value"></span>
          </div>
          <hr>
          <%= link_to '#', class: 'search-bar-link reset' do %>
            <i class="fa fa-close"></i>Reset Filter
          <% end %>
          <%= f.button :submit, 'Search', class: 'btn btn-primary float-right' %>
        <% end %>
      </div>

      <br>
      <br>

      <!-- Search results -->

      <div>
        <div id="search-result-wrapper"></div>
      </div>

    </div>

    <!-- Map -->
    <div class="fullscreen-map">
      <div id="map" style='width: 100%; height: 100%;'></div>
    </div>
  </div>
</main>

<% content_for(:after_js) do %>
  <script>
    // Google map
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ provider: { scrollwheel: false }, internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.map.centerOn([48.8566, 2.3522]);
          handler.getMap().setZoom(11);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(17);
        }
      });
    });

    // Slider
    $('#range-value').html($('#range-slider').val());
    $('input#range-slider').on('mousemove', function(){
      $('#range-value').html($('#range-slider').val());
    });
    $('input#range-slider').on('change', function(){
      $('#range-value').html($('#range-slider').val());
    });

    // Reset input fields
    $(".reset").click(function() {
      $(this).closest('form').find("input[type=text], input[type=number],input[type=email], select, textarea").val("");
      $(this).closest('form').find("input[type=range]").val("0");
    });
  </script>
<% end %>


