<div class="general-landing-page">
  <div class="landing-banner">
    <div class="container">
      <div class="row">
        <div class="col-md-6" id="account">
          <div class="jumbotron">
            <h1>Shoot-me</h1>
            <p><%= t("landing_page.create_your_account") %></p>
            <p><%= t("landing_page.today_on_shootme") %></p>
            <div class="row">
              <%= simple_form_for(:user, url: user_registration_path) do |f| %>
                <%= f.error_notification %>
                <div class="form-inputs">
                  <%= f.input :email, label: false, placeholder: "Email", required: true, wrapper_html: { class: 'col-sm-6' } %>
                  <%= f.input :password, label: false, placeholder: t("password"), required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), wrapper_html: { class: 'col-sm-6' } %>
                </div>
                <%= f.button :submit, t("landing_page.create_account"), class: "btn btn-primary btn-lg", id: "create-account", wrapper_html: { class: 'col-sm-6'} %>
              <% end %>
            </div>
          </div>
        </div>

        <div class="col-md-6" id="search-box">
          <div class="search-wrapper">
            <div class="card">
              <ul class="list-inline">
                <li><i class="fa fa-map fa-2x" aria-hidden="true"></i></li>
                <li><h3><%= t("landing_page.show_location") %></h3></li>
              </ul>
              <%= link_to t("search"), home_path, class: "btn btn-primary btn-lg", id: "search-landing" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="description-wrapper text-center">
    <%= image_tag "lens.png", class: "lens"%>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
          <h4><%= t("landing_page.top_description") %></h4>
        </div>
      </div>
    </div>
  </div>

  <div class="packages-wrapper">
    <div class="container text-center">
    <h3 class="packages-title"><%= t("landing_page.clear_packages") %></h3>
      <div class="row">
        <div class="col-md-4">
          <div class="dark-red card-popup">
            <%= image_tag "account1.png", class: "image-account"%>
            <i class="fa fa-camera-retro fa-4x" aria-hidden="true"></i>
            <h3 class="account-title"><%= t("landing_page.standard_account") %></h3>
            <p class="account-text"><%= t("landing_page.standard_description") %></p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="red card-popup">
            <%= image_tag "account2.png", class: "image-account"%>
            <i class="fa fa-camera fa-4x" aria-hidden="true"></i>
            <h3 class="account-title"><%= t("landing_page.premium_account") %></h3>
            <p class="account-text"><%= t("landing_page.premium_description") %></p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="light-red card-popup">
            <%= image_tag "account3.png", class: "image-account"%>
            <i class="fa fa-video-camera fa-4x" aria-hidden="true"></i>
            <h3 class="account-title"><%= t("landing_page.standard_account_free") %></h3>
            <p class="account-text"><%= t("landing_page.standard_free_description") %></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr class="hr-landing-page">

  <div class="wrapper-join-us">
    <h3 class="join-us-title text-center"><%= t("landing_page.why_join_shootme") %></h3>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h4><%= t("landing_page.brodcast_your_work") %></h4>
          <p><%= t("landing_page.brodcast_desc") %></p>
          <h4><%= t("landing_page.build_your_reputation") %></h4>
          <p><%= t("landing_page.build_desc") %></p>
          <h4><%= t("landing_page.attractive_pricing") %></h4>
          <p><%= t("landing_page.attractive_desc") %></p>
        </div>
      </div>
    </div>
  </div>

  <hr class="hr-landing-page">

  <div class="wrapper-contact-us">
    <div class="container">
      <div class="row">
        <div class="col-md-6 text-center">
          <%= image_tag "contact_us.png", class: "image-contact-us"%>
        </div>
        <div class="col-md-6">
          <%= simple_form_for :mailer, html: { class: "text-center" }, url: contact_path do |f| %>
            <%= f.input :name, placeholder: t("name"), input_html: { id: "name" }, label: false %>
            <%= f.input :email, placeholder: "Email", input_html: { id: "email" }, label: false %>
            <%= f.input :message, as: :text, placeholder: t("your_message"), input_html: { id: "message", rows: 5 }, label: false %>
            <%= f.submit t("send"), class: "btn btn-primary btn-lg", id: "submit" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

<!--   <hr class="hr-landing-page">

  <div class="wrapper-permission">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
        <h3>Permission or more information</h3>
        </div>
        <div class="col-md-6 text-center">
          <p><a class="btn btn-primary btn-lg" href="#" role="button" id="press">Press</a></p>
        </div>
      </div>
    </div>
  </div> -->

  <div class="wrapper-stay-connected">
    <div class="text-center row-stay-connected">
      <p><%= t("landing_page.stay_connected") %></p>
      <ul class="list-inline">
        <li><%= link_to 'https://www.instagram.com', :target => "_blank" do %><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></li><% end %>
        <li><%= link_to 'https://www.facebook.com', :target => "_blank" do %><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></li><% end %>
        <li><%= link_to 'https://www.pinterest.com', :target => "_blank" do %><i class="fa fa-pinterest-p fa-2x" aria-hidden="true"></i></li><% end %>
        <li><%= link_to 'https://www.plus.google.com', :target => "_blank" do %><i class="fa fa-google-plus fa-2x" aria-hidden="true"></i></li><% end %>
      </ul>
    </div>
  </div>

<div class="wrapper-copyright">
  <p><%= t("landing_page.all_rights") %></p>
</div>


</div>
