<h3>Photo Gallery</h3>
<hr>
<div class="card">
  <div class="row">
    <% n = 0 %>
    <% 6.times do %>
      <% topics = ["abstract", "city", "sports", "fashion", "people", "nature"] %>
      <%= link_to render_gallery_path(topic_name: topics[n]), remote: true do %>
        <div class="col-md-3 col-xs-6">
          <%= image_tag "http://lorempixel.com/200/100/#{topics[n]}", width: "100%" %>
          <p class="text-center"><%= topics[n] %></p>
        </div>
      <% end %>
      <% n = n+1 %>
    <% end %>
    <% @galleries.each do |g| %>
      <%= link_to render_gallery_path(topic_name: g.name) %>
        <% g.photos.each do |p| %>
          <%= cl_image_tag p.path, width: 800, height: 500, crop: :fill %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
