<div class="container date-selection">
  <div class="row">
    <div class="col-md-3 col-md-offset-1">
      <div class="card clearfix">
        <% if @current_profile.avatar? %>
          <%= cl_image_tag @current_profile.avatar.path, width: 500, height: 500, class: "user-picture", crop: :fill, gravity: :face %>
        <% else %>
          <%= image_tag "avatar_image.jpg", class: "user-picture" %>
        <% end %>
        <div class="text-center user-fullname"><b><%= @current_profile.first_name %> <%= @current_profile.last_name %></b></div>
        <ul class="text-center">
          <li class="block user-address"><i class="fa fa-map-marker" aria-hidden="true"></i><%= @current_profile.address %></li>
          <% if @current_profile.count_reviews == 0 %>
          <% else %>
            <%= render "reviews/stars", user: @current_profile %>
            <li class="block review-link"><%= pluralize(@current_profile.count_reviews, t("gallery.reviews")) %></li>
          <% end %>
        </ul>
      </div>
      <% if @current_profile != current_user %>
        <ul class="card nav nav-pills nav-stacked">
          <li role="presentation"><%= link_to t("profile"), user_path(@current_profile) %></li>
          <li role="presentation"><%= link_to t("gallery.view"), user_gallery_index_path(@current_profile) %></li>
        </ul>
      <% end %>
    </div>
    <div class="col-md-7">
      <%= render "gallery" %>
      <%= render "galleries" %>
    </div>
  </div>
</div>
