<div class="col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
  <div class="padded-card">
    <div class="card">
      <h2>Log in</h2>
      <hr>

      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-inputs">
          <%= f.input :email, required: false, autofocus: true %>
          <%= f.input :password, required: false %>
          <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
        </div>

        <div class="form-actions text-center">
          <%= f.button :submit, "Log in", class: "btn btn-primary" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
