<nav class="navbar">
  <div class="navbar-content">
    <!-- LOGO -->
    <div class="logo-group text-center">
      <% if current_user %>
          <%= link_to home_path do %>
              <%= image_tag "logo_dualtone.png", class: "navbar_logo" %>
          <% end %>
      <% else %>    
        <%= link_to root_path do %>
          <%= image_tag "logo_dualtone.png", class: "navbar_logo" %>
        <% end %>
      <% end %>
    </div>

    <!-- SIGN IN / AVATAR -->

    <div class="avatar-group">

      <!-- SIGN IN DROP DOWN -->
      <% if user_signed_in? %>

        <div class="dropdown inline-block float-right">

          <%= link_to inbox_path(current_user) do %>
            <span><%= t("navbar.inbox") %></span>
            <span class="badge bg-red"><%= Conversation.unread_count(current_user) %></span>
          <% end %>
          &nbsp;

          <a class="avatar-dropdown dropdown-toggle" href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

            <div class="user-container">
              <div class="avatar-round avatar-navbar">
                <% if current_user.avatar? %>
                  <%= cl_image_tag current_user.avatar.path, width: 100, height: 100, crop: :fill, gravity: :face %>
                <% elsif current_user.facebook_picture_url? %>
                  <%= image_tag current_user.facebook_picture_url %>
                <% else %>
                  <%= image_tag "avatar_image.jpg" %>
                <% end %>
              </div>
              <% if current_user.first_name %>
                <p class="avatar-name"><%= current_user.first_name %></p>
              <% else %>
                <p class="avatar-name"><%= current_user.email %></p>
              <% end %>
                <i class="fa fa-sort-down"></i>
            </div>
          </a>

          <div class="dropdown-menu dropdown-menu-right text-center" role="menu" aria-labelledby="dropdownMenuLink">
              <%= link_to(t("navbar.my_profil"), user_path(current_user)) %>
              <%= link_to(t("navbar.logout"), destroy_user_session_path, method: :delete, class: "dropdown-item") %>
          </div>
        </div>
      <% else %>
        <div class="signup-group">
          <%= link_to(t("navbar.signup"), new_user_registration_path, class: "dropdown-item btn btn-primary") %>
          <%= link_to(t("navbar.login"), new_user_session_path, class: "dropdown-item btn btn-default") %>
        </div>
      <% end %>
    <span class="locale-choice locale-choice-xs">
      <%= link_to image_tag('fr.png'), { :locale=>'fr' }, class: "fr" %>&nbsp;&nbsp;/&nbsp;&nbsp;<%= link_to image_tag('uk.jpg'), { :locale=>'en' }, class: "en" %>
    </span>
    </div>
  </div>
</nav>
