<nav class="navbar">
  <div class="logo-group text-center">
    <%= link_to root_path do %>
      <%= image_tag "logo_dualtone.png", class: "navbar_logo" %>
    <% end %>
  </div>

  <div class="avatar-group">
    <% if user_signed_in? %>
      <div class="avatar-round">
        <%= image_tag "quan_avatar.jpg" %>
      </div>
      <% if current_user.first_name %>
        <p class="avatar-name"><%= current_user.first_name %></p>
      <% else %>
        <p class="avatar-name"><%= current_user.email %></p>
      <% end %>
    <% end %>
    <div class="dropdown inline-block float-right">
      <a class="avatar-dropdown dropdown-toggle" href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-sort-down"></i>
      </a>

      <div class="dropdown-menu dropdown-menu-right text-center" role="menu" aria-labelledby="dropdownMenuLink">
        <% if user_signed_in? %>
          <%= link_to('Edit my profile', edit_user_registration_path) %>
          <%= link_to('Logout', destroy_user_session_path, :method => :delete, :class => "dropdown-item") %>
        <% else %>
          <%= link_to('Login', new_user_session_path, :class => "dropdown-item")  %>
          <%= link_to("Sign up", new_user_registration_path, :class => "dropdown-item") %>
        <% end %>
      </div>
    </div>
  </div>
</nav>
